.number{
  font-size: 30px;
}

.header{
  width: 100%;
  text-align: center;
  height: 10vh;
  background-color: hotpink;
  margin:0;
  padding: 0;
}


.footer{
  width: 100%;
  text-align: center;
  height: 10vh;
  bottom: 0;
  background-color: black;
  color: white;
  margin:0;
  padding: 0;
}

h1{
  margin: 0;
}

.nav{
  height: 30vh;
  background-color: blueviolet;
  text-align: center;
}

.counter{
  text-align: center;
  height: 10vh;
}

p{
  margin: 0;
}
